// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// variable overrides
$primary: #00d2d1;
$primary-invert: findColorInvert($primary);
$family-primary: "Lato", sans-serif;

// colors
$colors: (
  "primary": (
    $primary,
    $primary-invert
  )
);

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
